

.banner{
    background-image: url('../service-1.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    opacity: 0.5;
    z-index: 2rem;
    /* background-color: ; */
    
    
   
}
.banner::before{
    content: '';
    position: absolute;
    background: rgba(0, 0,0,0.5);
}

/* .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Optional: To darken the background image */
    /* z-index: 1; */ 
    
    
    
  
  